# Solana Configuration
EXPO_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
EXPO_PUBLIC_PROGRAM_ID=11111111111111111111111111111111
EXPO_PUBLIC_CLUSTER=devnet

# Reward Wallet Configuration
REWARD_WALLET_ADDRESS=
REWARD_WALLET_PRIVATE_KEY=



# App Configuration
APP_NAME=ClashGo
APP_VERSION=1.0.0
